# -------------------------------------------------------------------------------------------------------------------- #
# GENERAL SETTINGS
# -------------------------------------------------------------------------------------------------------------------- #

# Default mail storage path.
export STORAGE_BASE_DIR='/var/vmail'

# Preferred web server.
export WEB_SERVER='NGINX'

# Preferred backend used to store mail accounts.
export BACKEND_ORIG='MARIADB'
export BACKEND='MYSQL'

# Password for MySQL administrator.
export MYSQL_ROOT_PASSWD='PASSWORD'

# First mail domain name.
export FIRST_DOMAIN='example.org'

# Password for the mail domain administrator.
export DOMAIN_ADMIN_PASSWD_PLAIN='PASSWORD'

# SoGo master password.
export SOGO_SIEVE_MASTER_PASSWD='PASSWORD'

# -------------------------------------------------------------------------------------------------------------------- #
# MLMMJADMIN SETTINGS
# mlmmjadmin is RESTful API server used to manage mlmmj (mailing list manager).
# Generate a long string as API auth token, it will be used by your API client:
# < '/dev/urandom' tr -dc 'a-zA-Z0-9' | head -c ${1:-96} | md5sum
# -------------------------------------------------------------------------------------------------------------------- #

export MLMMJADMIN_API_AUTH_TOKEN=''

# -------------------------------------------------------------------------------------------------------------------- #
# INSTALL APPS
# -------------------------------------------------------------------------------------------------------------------- #

export USE_IREDADMIN='YES'
export USE_ROUNDCUBE='YES'
export USE_FAIL2BAN='YES'

# -------------------------------------------------------------------------------------------------------------------- #
# DATABASE USERS
# -------------------------------------------------------------------------------------------------------------------- #

# Password for user 'amavisd'.
export AMAVISD_DB_PASSWD='PASSWORD'

# Password for user 'fail2ban'.
export FAIL2BAN_DB_PASSWD='PASSWORD'

# Password for user 'iredadmin'.
export IREDADMIN_DB_PASSWD='PASSWORD'

# Password for user 'iredapd'.
export IREDAPD_DB_PASSWD='PASSWORD'

# Password for user 'netdata'.
export NETDATA_DB_PASSWD='PASSWORD'

# Password for user 'roundcube'.
export RCM_DB_PASSWD='PASSWORD'

# Password for user 'sogo'.
export SOGO_DB_PASSWD='PASSWORD'

# Password for user 'vmailadmin'.
export VMAIL_DB_ADMIN_PASSWD='PASSWORD'

# Password for user 'vmail'.
export VMAIL_DB_BIND_PASSWD='PASSWORD'

#EOF
